body {
    background-color: black;
}

a {
    color:white;
}

#banner {
    color: white;
    width: 100%;
    height: 15%;
    border-color: white;
}

#bannerImage {
    /*background-image: url('http://dalweb03/lychee/assets/webImages/Intranet-Photo-Banner.jpg');*/
    background-image: url('logo.png');
    background-size: auto;
    background-repeat: no-repeat;
    height: 135px;
}
table {
    border-collapse: separate;
    border-spacing: 50px;
    width:100%;
}
#myList {
    /*border: thick ridge #FFFFFF;*/
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 2%;
    padding-bottom: 2%;
}

td {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    font-size:x-large;
    color: white;
    width: 250px;
    column-width:200px;
    border: thick ridge #FFFFFF;
    margin: 30px;
    padding: 30px;
    border-collapse:separate;
    border-spacing:50px;
}
